<% include ./blocks/header %>
<p style="text-align: center; font-size: 30px;">Manage <%= dockerapp.Spec.Name %></p>
<div class="jumbobox">
  <br>
  <p style="font-size: 20px;">Deployment Settings</p>
  <hr>
  <form action="/applications/<%= dockerapp.Spec.Name %>" method="post">
    <p style="font-size: 18px;">Git</p>
    <ul>
      <li><input type="text" name="giturl" value="<% if(mongoapp.deployment.giturl !== "") {  %> <%= mongoapp.deployment.giturl %> <% } %>" placeholder="Git Url"></li>
      <li><input type="text" name="gitusername" value="<% if(mongoapp.deployment.gitusername !== "") {  %><%= mongoapp.deployment.gitusername %><% } %>" placeholder="Git Username"></li>
      <li><input type="text" name="gitpassword" value="<% if(mongoapp.deployment.gitpassword !== "") {  %><%= mongoapp.deployment.gitpassword %><% } %>" placeholder="Git Password"></li>
    </ul>
    <p style="font-size: 20px;">Environment Variables</p>
    <hr>
    <p style="font-size: 18px;">Variables</p>
    <div class="envwrapper">
      <button class="envbutton">Add More Fields</button>
      <%
        if(mongoapp.environment.envname.length > 0 ){
          for (var i = 0; i < mongoapp.environment.envname.length; i++){
      %>
      <div>
        <ul>
          <li><input type="text" placeholder="Name" name="envname[<%= i %>]" value="<%= mongoapp.environment.envname[i] %>" /></li>
          <li><input type="text" placeholder="Value" name="envvalue[<%= i %>]" value="<%= mongoapp.environment.envvalue[i] %>" /></li>
          <li><a href="#" class="remove_field"><i style="color: white;" class="fas fa-times"></i></a></li>
        </ul>
      </div>
      <% } %>
      <% } %>
    </div>
    <p style="font-size: 20px;">Volumes</p>
    <hr>
    <p style="font-size: 18px;">Manage Volumes</p>
    <div class="volwrapper">
      <button class="volbutton">Add More Fields</button>
      <%
        if(mongoapp.volume.volsource.length > 0 ){
          for (var i = 0; i < mongoapp.volume.volsource.length; i++){
      %>
      <div>
        <ul>
          <li><input type="text" placeholder="Source" name="volsource[<%= i %>]" value="<%= mongoapp.volume.volsource[i] %>" /></li>
          <li><input type="text" placeholder="Target" name="voltarget[<%= i %>]" value="<%= mongoapp.volume.voltarget[i] %>" /></li>
          <li><a href="#" class="remove_field"><i style="color: white;" class="fas fa-times"></i></a></li>
        </ul>
      </div>
      <% } %>
      <% } %>
    </div>
    <button type="submit">Save Settings</button>
  </form>
  <p style="font-size: 20px;">Advanced Settings</p>
  <hr>
  <a class="button" href="/applications/<%= dockerapp.Spec.Name %>/remove" style="padding-top:5px; padding-bottom:5px;">Delete App</a>
</div>

<% include ./blocks/footer %>
